<!doctype html>
<html>
<style>
    body
    {
        background-image:url("__PUBLIC__/images/back2.jpg");
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:100%,100%;
    }
</style>
<head>
<meta charset="utf-8">
<title>About me</title>
<link href="__PUBLIC__/css/base.css" rel="stylesheet">
<link href="__PUBLIC__/css/about.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="__PUBLIC__/js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
    <div id="logo"><a href="{:U('index')}"></a></div>
    <nav class="topnav" id="topnav"><a href="{:U('index')}"><span>首页</span><span class="en">Protal</span></a><a href="{:U('about')}"><span>关于我</span><span class="en">Me</span></a><a href="{:U('her')}"><span>关于她</span><span class="en">Her</span></a><a href="{:U('enjoy')}"><span>音影诗书</span><span class="en">Enjoy</span></a><a href="{:U('share')}"><span>资源分享</span><span class="en">Share</span></a><a href="{:U('friends')}"><span>嗨青春啊</span><span class="en">Friends</span></a><a href="{:U('guestbook')}"><span>留言版</span><span class="en">Gustbook</span></a><span>&nbsp;&nbsp;&nbsp;</span>
        <span><a href="{$logpage}" id="logon">{$log}</a>{$or}<a href="{$regpage}"  id="logon">{$reg}</a></span>
    </nav>
    </nav>
</header>
<article class="aboutcon">
<h1 class="t_nav"><span >咸鱼也有咸鱼的活法，说不定就翻身了呢!Come on!</span><a class="n2">关于我</a></h1>
<div class="about left">
  <h2>This is me</h2>
    <ul>
        <p>&nbsp;&nbsp;啊哈哈哈，我就是我啦！做个简短的自我介绍竟如同写作文一般长篇大论真的好难受有木有啊！能介绍啥呢，不认识我的人介绍了你还是不了解我呀，认识我的人不用介绍你们也熟知我啊。为什么我当初要设计这么一个页面来为难自己哦？</p>
        <p>&nbsp;&nbsp;嗯，从小从农村走出来包围城市的哈哈，对新鲜事物感兴趣啊啊啊啊，但是我就是不去尝试，你能拿我咋的！到初三毕业才算真正接触网络吧，打游戏啊，偷菜啊，快活啊，把腾讯的游戏玩了个遍，最后还是觉得腾讯的游戏贼好玩，里面的人个个都有才，说话又好听啊，这绝对不是我喜欢网游的原因，因为我就是说话好听的人啊哈哈哈！</p>
        <p>&nbsp;&nbsp;从初中到高中大学，做出的能称为事情的事真的很少，好比自己打打酱油倒买倒卖，接触的东西都只为皮毛，不曾深入，甚幸自己学会了网站开发，也靠这门入门级手艺找到了第一份实习工作，真正接触到什么叫做社会，什么叫做生活，才知道象牙塔毕竟只能看见一线天。学会了走，但是奖杯只会颁给那些跑在前面的人呐！落在后头的虽遭不到人白眼横目，也应该反省那群仰天长叹怅然若失的人里面有没有你的足迹呢？</p>
        <p>&nbsp;&nbsp;改变自己的肯定是自己啊，基因是主要，环境是其次，人骨子里的东西就注定你会怎么蜕变或者说退变，很希望看到自己高中时候，很开心的学着，大学是一块肥沃的土壤，不扎稳根不用劲吮吸，还是会枯萎的。很感激杨青前辈的模板，一开始接触的模板就是杨青老师的，感谢感谢！</p>
        <p>&nbsp;&nbsp;咸鱼嘛，深海咸鱼，好歹得翻个身吧！人人都得有个公主王子梦吧！</p>
    </ul>
    <h2>About my blog</h2>
    <p style="font-size: 16px;color:orangered">域  名：www.ifangling.com  17.01.01 <a href="/" class="blog_link" target="_blank" style="font-size: 16px;color:orangered">注册域名</a></p>
    <p style="font-size: 16px;color:orangered">服务器：阿里云<a href="/" class="blog_link" target="_blank" style="font-size: 16px;color:orangered">购买空间</a></p>
    <p style="font-size: 16px;color:orangered">框  架：Thinkphp3.2.3</p>
</div>
<aside class="right">  
    <div class="about_c">
    <p>网名：<span>Geffy</span> | 一个小梦想!</p>
    <p>姓名：许国辉 </p>
    <p>生日：1996-03-05</p>
    <p>籍贯：江西省抚州市</p>
    <p>现居：北京交通大学</p>
    <p>职业：在校学生</p>
    <p>喜欢的书：《天才疯子》 《我们仨》</p>
    <p>喜欢的音乐：《追》《无敌》</p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1367645194&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1367645194:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
    <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=nOT79K2vqquqqKmtpajc_vPk8f318LL-8-E" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_21.png"/></a>
</div>
    <div class="pic">
    <img style="opacity:0.8;" src="__PUBLIC__/images/me.jpg">
    </div>
</aside>
</article>
<footer style="background-color: #efefef;opacity:0.6;">
  <p>Design by Geffy <a href="http://www.miitbeian.gov.cn/" target="_blank">CopyRight @ Geffy</a></p>
</footer>
<script src="__PUBLIC__/js/silder.js"></script>
</body>
</html>