<!doctype html>
<html>
<style>
    body
    {
        background-image:url("__PUBLIC__/images/back1.jpg");
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size:100%,100%;
    }
</style>
<head>
    <meta charset="utf-8">
    <title>About Her</title>
    <link href="__PUBLIC__/css/base.css" rel="stylesheet">
    <link href="__PUBLIC__/css/abouther.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="__PUBLIC__/js/modernizr.js"></script>
    <![endif]-->
    <link href='http://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
</head>
<body>
<header>
    <div id="logo"><a href="{:U('index')}"></a></div>
    <nav class="topnav" id="topnav"><a href="{:U('index')}"><span>首页</span><span class="en">Protal</span></a><a href="{:U('about')}"><span>关于我</span><span class="en">Me</span></a><a href="{:U('her')}"><span>关于她</span><span class="en">Her</span></a><a href="{:U('enjoy')}"><span>音影诗书</span><span class="en">Enjoy</span></a><a href="{:U('share')}"><span>资源分享</span><span class="en">Share</span></a><a href="{:U('friends')}"><span>嗨青春啊</span><span class="en">Friends</span></a><a href="{:U('guestbook')}"><span>留言版</span><span class="en">Gustbook</span></a><span>&nbsp;&nbsp;&nbsp;</span>
        <span><a href="{$logpage}" id="logon">{$log}</a>{$or}<a href="{$regpage}"  id="logon">{$reg}</a></span>
    </nav>
    </nav>
</header>
<article class="aboutcon">
    <h1 class="t_nav"><span>领导嘛,只用负责天生丽质美美哒！</span><a class="n2">关于她</a></h1>
    <div class="about left">
        <h2>This is her!</h2>
        <ul>
            <p>&nbsp;&nbsp;领导嘛啊哈哈，全身都是优点闪亮亮的（就算有缺点我也不敢讲啊~~！）我们家的小芳，啊哈哈哈最喜欢她的刀子嘴豆腐心了。整个高中最深的印象就是埋头写作业，走到旁边叫上一句，45度抬头，一脸疑惑，然后“啊？”其实我们班上的女生大抵如此，贤惠啊，知书达理啊！</p>
            <p>&nbsp;&nbsp;一直以来我或多或少都感觉小芳会跟其他的女孩子不一样，想做的事情或者处事的方法都会给我一种“为什么要这样”的感觉！做过微商，开过淘宝店，但我想大家啊肯定都不知道，她怕干扰到大家也没有大肆宣传，然后就没有然后了。小芳想去旅行，我也想去旅行；小芳喜欢拍照，我其实也蛮喜欢美美的照片；她想跳舞，哎算了这个我肯定不想的，我就跳跳广播体操还行。你跑步我也会跟着跑，你喜欢读书我也慢慢尝试着读书啊，确实好书错过了太多太多，我还是真的喜欢带你看恐怖片呢！这样是不是你就再也不会失眠了，我想是应该是吧！</p>
            <p>&nbsp;&nbsp;或许我们还差一次蹦极吧，体验过了才知道爽不爽嘛。就算难受也值得啊，毕竟那是我们想做的事情。小芳那些惊讶的表情，都在我心中烙下了刻印，她撑着脸颊在沉思在学习的时候，呆呆的可爱着呢！不管不管，在我心中就是这么优秀，恁的不服咋的啊，来我服务器上改我的代码啊。此处省略甜言蜜语千万句，领导告诉我行事要低调。所以我就很低调很低调的专门写了一个网站啊哈哈顺着网线来找我吧</p>
            <p>&nbsp;&nbsp;我们也想去爬山，我们也想去漂流。这个时间段不允许我们，我们或许得花更多的时间好好为这些做准备呢，毕竟人生很长，我们的包袱也会越来越重呢！</p>
        </ul>
        <br/>
        <h2>有奖竞猜</h2>
        <p style="color:#9A0000; font-size: 16px">最爱吃的蔬菜是啥？</p>
        <p style="color:#9A0000; font-size: 16px">最好的小伙伴是谁？</p>
        <p style="color:#9A0000; font-size: 16px">最喜欢的运动是啥？</p>
        <p style="color:#9A0000; font-size: 16px">她的头发有多少根？（对这就是一道送命题）</p>
    </div>
    <aside class="right">
        <div class="about_c">
            <p>网名：<span>Zzz</span> | 无非!</p>
            <p>姓名：芳</p>
            <p>生日：1996-11-24</p>
            <p>籍贯：江西省抚州市</p>
            <p>现居：中央财经大学</p>
            <p>职业：在校学生</p>
            <p>喜欢的书：《很多很多》 《列举不完》</p>
            <p>喜欢的音乐：《是歌》《就听》</p><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1367645194&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1367645194:51" alt="点击这里给我发消息" title="点击这里给我发消息"/></a>
            <a target="_blank" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=nOT79K2vqquqqKmtpajc_vPk8f318LL-8-E" style="text-decoration:none;"><img src="http://rescdn.qqmail.com/zh_CN/htmledition/images/function/qm_open/ico_mailme_21.png"/></a>
        </div>
        <div>
        <img style="opacity: 0.8;" src="__PUBLIC__/images/her.jpg">
        </div>
    </aside>
</article>
<footer>
    <p  style="background-color: #efefef; opacity:0.6;">Design by Geffy <a href="http://www.miitbeian.gov.cn/" target="_blank">CopyRight @ Geffy</a></p>
</footer>
<script src="__PUBLIC__/js/silder.js"></script>
</body>
</html>